.side {
  margin-top: 10px;
  padding: 0.01em 16px;
  border: 1px solid #ccc!important;
  border-radius: 16px!important;
  /*background-color: @white;
	background: #efefef;*/
  background: cadetblue;
}
#leftSide .script-container {
  height: 513px;
  border-radius: 16px!important;
}
#leftSide .script-container textarea {
  margin-top: 15px;
  overflow-y: auto;
  word-wrap: break-word;
  resize: none;
  width: 100%;
  height: 90%;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc!important;
  border-radius: 6px!important;
}
#leftSide .script-container .noselect {
  cursor: default;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
#leftSide .script-container .noselect:focus {
  outline: none;
}
#leftSide .script-container .switch-container {
  margin-left: 40%;
}
#leftSide .script-container .switch-container .switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 105px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  border-radius: 18px;
  /*box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
  cursor: pointer;
  /* Transition */
}
#leftSide .script-container .switch-container .switch .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#leftSide .script-container .switch-container .switch .switch-input:checked ~ .switch-label {
  /*background: #E1B42B;*/
  background: orangered;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
#leftSide .script-container .switch-container .switch .switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
#leftSide .script-container .switch-container .switch .switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
#leftSide .script-container .switch-container .switch .switch-input:checked ~ .switch-handle {
  left: 73px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
#leftSide .script-container .switch-container .switch .switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  /*background: #eceeef;*/
  background: antiquewhite;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
#leftSide .script-container .switch-container .switch .switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
#leftSide .script-container .switch-container .switch .switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
#leftSide .script-container .switch-container .switch .switch-label:before,
#leftSide .script-container .switch-container .switch .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
#leftSide .script-container .switch-container .switch .switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#leftSide .script-container .switch-container .switch .switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
#leftSide .script-container .switch-container .switch .switch-label,
#leftSide .script-container .switch-container .switch .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
#rightSide .topside .video-container {
  margin-top: 5px;
}
#rightSide .topside .video-container iframe {
  border-radius: 16px!important;
  background-color: white;
  width: 100%;
  min-height: 325px;
  height: 100%;
  margin-top: 5px;
}
#rightSide .bottomside .write-container .panel {
  margin-top: 5px;
  border-radius: 16px!important;
}
#rightSide .bottomside .write-container #text {
  font-size: 13.4px;
}
